/* HTML BODY HEADINGS*/
html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}

html,body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h3 {
    font-size: 24px;
}

a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

/* Sizing & Alignment */
.sizing-padding {
    padding: 8px 16px!important
}

.sizing-top {
    top: 0;
}

.sizing-top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.sizing-main,#main {
    transition: margin-left .4s
}

.sidebar-margin-right {
    margin-right: 16px !important;
}

.sizing-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.sidebar-container {
    padding: 0.01em 16px;
}

.sidebar-container:after {
    content: "";
    display: table;
    clear: both
}

.sizing-right {
    float: right!important
}


/* Font */
.font-xlarge {
    font-size: 24px !important;
}

.font-large {
    font-size: 18px;
}

.font-red {
    color: #fff!important;
    background-color: #85b389!important;
}

.font-white,.font-hover-white:hover {
    color: #000!important;
    background-color: #fff!important
}

.font-light-grey {
    color: #000!important;
    background-color: #f1f1f1!important
}

/* Side Bar */
.sidebar {
    height: 100%;
    width: 200px;
    background-color: grey;
    position: fixed!important;
    z-index: 1;
    overflow: auto
}

.sidebar-bar-block .sidebar-bar-item {
    width: 100%;
    color: white;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.sidebar-display-topleft {
    color: white;
}

.sidebar-bar-block {
    width: 100%
}

.sidebar-bar-block {
    min-width: 100%
}

.sidebar-bar-block {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.sidebar-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2
}

/* Content */
.bgimg-1 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid #111;
}

.bgimg-1 {
    background-image: url("/images/Adjusted_World_Map.png");
    height: 400px;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.img__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'fire lightning';
    justify-items: center;
    gap: 10px;
}

.village__img {
    width: 500px;
    height: 500px;
    border: solid #111;
}


/* Media Queries */
@media (min-width: 1025px) {
    .sidebar-hide-large {
        display: none!important
    }

    .sidebar.sidebar-collapse {
        display: block!important;
    }
}

@media (max-width: 1024px) {
    .sidebar.sidebar-collapse {
        display:none
    }

    .sizing-main {
        margin-left: 0!important;
        margin-right: 0!important
    }

    .img__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'fire'
        'lightning';
        justify-items: center;
    }

    .village__img {
        width: 200px;
        height: 200px;
        border: solid #111;
    }

    .caption span.border {
        background-color: #111;
        color: #fff;
        padding: 3px;
        font-size: 25px;
    }
}

