body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}


.bgimg-1 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("/images/Adjusted_World_Map.png");
    min-height: 100%;
}

.rowimg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-template-areas: 
    'fire lightning';

    @media screen and (max-width: 700px) {
        body {
            display:grid;
            grid-template-columns: 1fr;
            justify-items: center;
            grid-template-areas: 
            'fire',
            'lightning',
        }

    }
}

.colimg {
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
    border: solid grey;

    @media screen and (max-width: 700px) {
        body {
            width: 250px;
            height: 250px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 100px;
            border: solid grey;
        }
    }
}

.colimg--fire {
    grid-area: fire;
}

.colimg--lightning {
    grid-area: lightning;
}

